@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@300;400;500;600;700&display=swap');

.telaregistrar {
    display:flex;
    background: #f5f3f2;
    align-items: center;
}

.imagemregistrar {
   
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
}

.imagemregistrar img{ object-fit:cover }

.parteregistrar {
    flex: 0 0 52%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.nomelogoreg {
     display:flex;
     margin-top: -59px;
     margin-left: 40px;

}

.tituloterroirreg {
    font-family: 'Geologica';
    font-size: 100px;
    font-weight: 400;
    color: #392115;

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1;
    margin-left: 10px;


}

.partemenorregistrar {
    width: 650px;
    height: 860px;
    border-radius: 30px;
    background-color: #e8e7e786;
    margin-top: -40px;
    margin-left: 75px;
    padding: 28px 28px 36px 28px;
    border: 1px solid rgba(57,33,21,0.06);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registrar {
    font-family: 'M PLUS 2', sans-serif;
    margin: -20px 0 20px 0;
    margin-bottom: 10px;
    color:#51361E;
    color:#51361E;
    font-size: 50px !important;
    font-weight: 600 !important;

}



.botaocriar{
    background:#7F5F42;
    color:#fff;
    border:none;
    border-radius:29px;
    cursor:pointer;
    width: 220px;
    height: 64px;
    margin-top:10px;
    box-shadow: 0px 2px 4.5px rgba(0, 0, 0, 0.25);
    
}

.botaocriartexto{
    font-family: 'M PLUS 2', sans-serif;
    font-size: 32px;
    font-weight: 400;
    margin-top: 6px;
}

.oureg{
    font-family: 'M PLUS 2', sans-serif;
    font-size: 32px;
    font-weight: 400;
    margin:8px 0 8px 0;
    color:#51361E;
    margin-bottom: 20px;
    margin-top:10px;
}

.classegooglereg{
    margin-left:10px;
}


.jatem{
    margin-top:8px;
    font-size:24px;
    color:#51361E;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}





@media (max-width:900px){
    .telaregistrar{ flex-direction: column }
    .imagemregistrar{ flex: none }
    .imagemregistrar img{ height:200px }
    .parteregistrar{ padding: 18px }
    
}
