.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  background-color: #392115;
  padding: 0 3rem;
  box-sizing: border-box;
  
  position: fixed; 
  top: 0;
  z-index: 1000;
}

.navbar__left,
.navbar__center,
.navbar__right {
  flex: 1; /* cada lado ocupa 1/3 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__left {
  justify-content: flex-start;
  gap: 10px;
}

.navbar__right {
  justify-content: flex-end;
  gap: 1.5rem;
}

.navbar__center {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75px; /* garante altura fixa da navbar */
}
.navbar__center img {
  height: 60px;
  
}

.navbar__icon {
  height: 40px;
}

.navbar__login {
  background: none;
  border: none;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
  text-align: center;
}

/* Container da busca */
.navbar__search {
  display: flex;
  justify-content: space-between; 
  align-items: center; /* ISSO que centraliza verticalmente os filhos */
  background-color: white;
  border-radius: 13px;
  
  /* MUDANÇA AQUI: Tirei o padding vertical (era 5px) para não brigar com a altura fixa */
  padding: 0 10px; 
  
  width: 8rem;
  height: 35px;
}

.navbar__search input {
  border: none;
  outline: none;
  font-size: 1rem;
  color: #392115;
  background-color: transparent;
  width: 100%;
  height: 100%; 
  margin: 0;    
  padding: 0;   
}

/* Mantendo o botão do ícone arrumado também */
.navbar__search button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center; /* Centraliza o ícone dentro do botão */
  height: 100%;
}

/* Menu hamburguer */
.navbar__menu {
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
}

/* Responsividade */
@media (max-width: 768px) {
  .navbar {
    padding: 0 1.5rem;
  }

  .navbar__login {
    display: none;
  }

  .navbar__search input {
    width: 80px;
  }
}
