@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;500;600;700&display=swap');

.telalogin {
    display:flex;


}

.imagemlogin {

}

.partelogin {

}

.nomelogo {
     display:flex;

}

.tituloterroir {
   

}

.partemenorlogin {

}

.fazerlogin {

}

.esqueceuasenha {

}

.botaoentrar {

}

.ou {

}

.entrargooglelogin {

}

.jatem {

}
