@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@300;400;500;600;700&display=swap');

.telalogin {
    display:flex;
    background: #f5f3f2;
    align-items: center;
}

.imagemlogin {
   
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
}

.imagemlogin img{ object-fit:cover }

.partelogin {
    flex: 0 0 52%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.nomelogo {
     display:flex;
     margin-top: -43px;
     margin-left: 40px;

}

.tituloterroir {
    font-family: 'Geologica';
    font-size: 100px;
    font-weight: 400;
    color: #392115;

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1;
    margin-left: 10px;


}

.partemenorlogin {
    width: 650px;
    height: 800px;
    border-radius: 30px;
    background-color: #e8e7e786;
    margin-top: -30px;
    margin-left: 75px;
    padding: 28px 28px 36px 28px;
    border: 1px solid rgba(57,33,21,0.06);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fazerlogin {
    font-family: 'M PLUS 2', sans-serif;
    margin: 4px 0 20px 0;
    margin-bottom: 50px;
    color:#51361E;
    color:#51361E;
    font-size: 50px !important;
    font-weight: 600 !important;

}

.esqueceuasenha{
    width:78%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -5px;
    margin-bottom: 14px;
    padding: 0 8%;
    font-size: 20px;
    color: #6b5a50;
}

.botaoentrar{
    background:#7F5F42;
    color:#fff;
    border:none;
    border-radius:29px;
    cursor:pointer;
    width: 198px;
    height: 64px;
    margin-top:30px;
    box-shadow: 0px 2px 4.5px rgba(0, 0, 0, 0.25);
    
}

.botaoentrartexto{
    font-family: 'M PLUS 2', sans-serif;
    font-size: 32px;
    font-weight: 400;
    margin-top: 6px;
}

.ou{
    font-family: 'M PLUS 2', sans-serif;
    font-size: 32px;
    font-weight: 400;
    margin:8px 0 8px 0;
    color:#51361E;
    margin-bottom: 20px;
    margin-top:10px;
}

.classegooglelogin{
    margin-left:10px;
}

.entrargooglelogin{
    display:flex;
    align-items:center;
    gap:6px;
    background:#fff;
    border:1px solid rgba(57,33,21,0.08);
    padding:13px ;
    border-radius:40px;
    cursor:pointer;
    width: 310px;
    height: 60px;
    font-size: 22px;
    font-weight: 500;
    color: #412913;
    box-shadow: 0 2px 6px rgba(57,33,21,0.06);
}

.naotem{
    margin-top:87px;
    font-size:24px;
    color:#51361E;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}



.jatem .registre{ color:#7a5a46; text-decoration:underline }

@media (max-width:900px){
    .telalogin{ flex-direction: column }
    .imagemlogin{ flex: none }
    .imagemlogin img{ height:200px }
    .partelogin{ padding: 18px }
    
}
