@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@300;400;500;600;700&display=swap');

.telalogin {
    display:flex;


}

.imagemlogin {

}

.partelogin {

}

.nomelogo {
     display:flex;
     margin-top: -30px;
     margin-left: 135px;

}

.tituloterroir {
    font-family: 'Geologica';
    font-size: 100px;
    font-weight: 400;
    color: #392115;

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1;
    margin-left: 10px;
    

}

.partemenorlogin {
    width: 716px;
    height: 854px;
    background-color: #e8e7e786;
    margin-left: 73px;
    border-radius: 30px;
    margin-top: -30px;
    border: 1px solid rgba(255, 255, 255, 0.14);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.fazerlogin {
    font-family: 'M PLUS 2' !important; 
    padding-left: 210px;
    margin-top: 35px;
    color:#51361E;
    font-size: 50px !important;
    font-weight: 600 !important;

}


.esqueceuasenha {

}

.botaoentrar {

}

.ou {

}

.entrargooglelogin {

}

.jatem {

}
