@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;500;600;700&display=swap');

.componenteinput{
    

}

.campo{
    margin-left: 300px;

}

.inputmolde{
    width: 300px;
    border: #EFEFEF;
    outline: none;
    padding: 8px;
    border-radius: 20px;
    width: 569px;
    height: 75px;
    margin-left: 60px;
}