@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;500;600;700&display=swap');

/* Base e Fundo */
.tela_admin {
    min-height: 100vh;
    background-color: var(--color-background-dark); 
    background-image: url('../../assets/cafefundo.svg'); 
    background-size: cover;
    background-position: center;
    font-family: 'Geologica', sans-serif;
}

/* Título e Botão Sair */
.tituloadmin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 80px 30px 40px;
    margin-top: 40px;
    margin-left:30px; /* Puxa o conteúdo para cima, ficando mais alinhado com o protótipo */
}

.olaAdmin {
    font-weight: 400;
    font-size: 54px;
    color:  #EEE2D6;
    margin: 0;
}

.sairbotao {
    background-color: transparent;
    border: none;
    font-size: 25px;
    color: #EEE2D6;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -10px; 
    font-weight: 300;
}
.sairbotao svg {
    font-size: 325;
}

/* Estrutura Principal de Colunas */
.colunas {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: stretch;
    margin-left: 30px;
    margin-right: 30px;
}

.coluna{
    flex: 1;
}

.secaoAdmin {
    background-color: #EEE2D6;
    border-radius: 20px;
    box-sizing: border-box;
    height: auto;
    min-height: 300px;
    padding: 20px;
    margin-bottom: 20px;

    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 52px;
    color: #4C351F;
}

.linhaHorizontal {
    border-top: 2px solid #4C351F;
    margin: 10px 0;
    width: 110%;
    margin-left: -20px;
    margin-right: -20px; /* Ajuste só pra ignorar o padding da div secaoAdmin */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 26px;
}

input {
    padding: 10px;
    border: 0px solid #C4C4C4;
    font-size: 16px;
    color: #4C351F;
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #4C351F;
    box-shadow: 0 0 8px rgba(76, 53, 31, 0.6);
}

textarea {
    width: 400px;
    padding: 10px;
    border: 0px solid #C4C4C4;
    font-size: 16px;
    color: #4C351F;
    box-sizing: border-box;
    min-height: 100px;
    line-height: 1.5;
    resize: none;
    margin-bottom: 20px;
}

input[type="file"] {
    display:none; /* Para ocultar o botão padrão do input file */
}

.botaoImagem {
    display: inline-block;
    background-color: #FFFF;
    color: #4C351F;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
}

#fileName {
    color: #4C351F;
    font-size: 14px;
    display: block;
    margin-top: -10px;
    text-align: left;
}

.botaoImagem:focus {
    outline: none;
    border-color: #4C351F;
    box-shadow: 0 0 8px rgba(76, 53, 31, 0.6);
}

.botaoImagem svg {
    margin-right: 8px; /* Espaçamento entre o ícone e o texto */
}


